@import url("https://fonts.googleapis.com/css2?family=Baloo+2&family=Raleway&display=swap");

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
  font-family: "Baloo 2", cursive;
}
